/* Animation Classes applied by JS */

.swipe-left {
    animation: flyOutLeft 0.5s ease-out forwards;
}

.swipe-right {
    animation: flyOutRight 0.5s ease-out forwards;
}

@keyframes flyOutLeft {
    0% {
        transform: translateX(0) rotate(0);
    }

    100% {
        transform: translateX(-150%) rotate(-30deg);
        opacity: 0;
    }
}

@keyframes flyOutRight {
    0% {
        transform: translateX(0) rotate(0);
    }

    100% {
        transform: translateX(150%) rotate(30deg);
        opacity: 0;
    }
}

/* User Profile Image Pulse */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 75, 43, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 75, 43, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 75, 43, 0);
    }
}

.user-profile-icon img:hover {
    animation: pulse 2s infinite;
}